p{
    columns: pink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: black;
    background-color: darksalmon;
    
}
#img{
    height: 30%;
    width: 15%;
    

}
*{
    border-top: 20px;
    padding: 3px;
    background-color:rgb(0, 255, 191);
}
.home{
    color: darkgreen;
}
.about{
    color: darkgreen; 
}
.skills{
    color: darkgreen;  
}
.projects{
    color: darkgreen;  
}
.contact{
    color: darkgreen;  
    background-color: darksalmon;
}